@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src: local("Montserrat"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin_cyrillic-regular.eot?") format("eot"), url("../fonts/montserrat-v14-latin_cyrillic-regular.svg#Montserrat") format("svg");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"), url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v14-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v14-latin_cyrillic-700.eot?") format("eot"), url("../fonts/montserrat-v14-latin_cyrillic-700.svg#Montserrat") format("svg");
  font-display: swap;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
}

body {
  font-family: "Montserrat",sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

.layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
  height: 100vh;
}

.form-wrap {
  display: flex;
  height: 100%;
  width:100%;
  justify-content: space-between;
  flex-direction: column;
}

.myform {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-top: 0px;
  width: 260px;
}

.myform img {
  width: 100%;
  padding-bottom: 15px;
}

.myform .section-header-wrapper__form {
  width: 100%;
}

.myform .section-header-wrapper__form-input,
.myform .section-header-wrapper__form-button {
  width: 100%;
  margin-bottom: 10px;
}

.myform input {
  font-family: "Montserrat",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  outline: none;
  width: 100%;
  height: 44px;
  background-color: #FFFFFF;
  border: 1px solid #c7c7d0;
  border-radius: 4px;
  padding-left: 15px;
  transition: all 0.2s ease-in;
}

.myform input::-webkit-input-placeholder {
  color: #c7c7d0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.myform input::-moz-placeholder {
  color: #c7c7d0;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.myform input:-ms-input-placeholder {
  color: #c7c7d0;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.myform input::-ms-input-placeholder {
  color: #c7c7d0;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.myform input::placeholder {
  color: #c7c7d0;
  transition: all 0.2s ease-in;
}

.myform input:hover, .myform input:focus {
  transition: all 0.5s ease;
  border: 1px solid #8f90a0;
}

.myform input:hover::-webkit-input-placeholder, .myform input:focus::-webkit-input-placeholder {
  color: #575871;
}

.myform input:hover::-moz-placeholder, .myform input:focus::-moz-placeholder {
  color: #575871;
}

.myform input:hover:-ms-input-placeholder, .myform input:focus:-ms-input-placeholder {
  color: #575871;
}

.myform input:hover::-ms-input-placeholder, .myform input:focus::-ms-input-placeholder {
  color: #575871;
}

.myform input:hover::placeholder, .myform input:focus::placeholder {
  color: #575871;
}

.myform input.error {
  border: 1px solid red;
}

.myform .button-original {
  font-family: "Montserrat",sans-serif;
  margin-top: 10px;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  background: linear-gradient(0deg,#febf00  20%,  #FECC00 80%);
  border-radius: 22px;
  height: 44px;
  outline: none;
  border: none;
  cursor: pointer;
  z-index: 0;
  color: #ffffff;
  font-family: 'Montserrat';
  font-weight: 700;
  text-transform: uppercase;
  transition: all .2s;
}

.myform .button-original:hover {
  opacity: 0.6;
}

.myform .button-original.long {
  position: relative;
}

.myform .button-original.long svg {
  position: absolute;
  content: "";
  top: 13px;
  right: 15px;
  width: 18px;
  height: 18px;
}

.myform .button-original.long svg path {
  fill: #FFFFFF;
}

.myform .backsay {
  display: inline-block;
  opacity: 0;
  font-size: 12px;
  color: gray;
  min-height: 30px;
  width: 100%;
}


.f-signin .field,
.f-signup .field {
    position: relative
}

.f-signin .field-validation-error,
.f-signup .field-validation-error {
  position: absolute;
  top: 15px;
  left: 270px;
    white-space: nowrap;
    line-height: 1;
    color: #ed4a30
}

.copyright {
  height: 60px;
  text-align: center;
  font-size: 14px;
  color: #7f7f7f;
  margin-left: 10px;
  margin-right: 10px;
}

.copyright p {
  display: inline-block;
  margin-bottom: 5px;
}

.copyright img {
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 3px;
}

.copyright .sign-in-offer {
  margin-left: 5px;
  display: inline-block;
  margin-bottom: 5px;
}

.copyright .sign-in-offer a:hover {
  color: black;
}

.slider-wrap * {
  box-sizing: border-box;
}

.slider-wrap .slideshow {
  width: 40vw;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.slider-wrap .mySlides {
  /* display: none; */
  visibility: hidden;
  height: 102vh;
  width: 100%;
  overflow: hidden;
}

/* .slider-wrap .mySlides img {
  position: relative;
  width: 100%;
  height: 102vh;
  -o-object-fit: cover;
  object-fit: cover;
} */




.slider-wrap .mySlides .img-slider {
  overflow: hidden;
  content: '';
  position: absolute;
  width: 100%;
  height: inherit;
  left: 0;
  top: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 1s ease;
  /* animation: scale 5s linear; */
}

.slider-wrap .mySlides .img-slider.first {
  background-image: url('../img/slider_mall1.jpg');
}
.slider-wrap .mySlides .img-slider.second {
  background-image: url('../img/slider_air.jpg');
}
.slider-wrap .mySlides .img-slider.third {
  background-image: url('../img/new-slider3-2.jpg');
}

.slider-wrap .mySlides .img-slider.active{
   -webkit-animation: scaling 5s linear;
           animation: scaling 5s linear; 
}

@-webkit-keyframes scaling {
  0%   { transform: scale(1); }
  100% { transform: scale(1.1); }
}

@keyframes scaling {
  0%   { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.slider-wrap .mySlides .blackout {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.35;
}

.slider-wrap .mySlides .lightout {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
}

.slider-wrap .mySlides .lightout.show {
  -webkit-animation-name: lightout;
          animation-name: lightout;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
}

@-webkit-keyframes lightout {
  from {
    opacity: .5;
  }
  to {
    opacity: .1;
  }
}

@keyframes lightout {
  from {
    opacity: .5;
  }
  to {
    opacity: .1;
  }
}

.slider-wrap .mySlides .text {
  padding: 40px 30px 30px 30px;
  padding-left: 40px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-size: 33px;  
  text-align: right;
}

.slider-wrap .active,
.slider-wrap .dot:hover {
  background-color: #717171;
}

.slider-wrap .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .5;
  }
  to {
    opacity: 1;
  }
}

.lang-drop {
  margin: 15px;
  width: 80px;
}

.dropdown {
  width: 100%;
  text-align: left;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: white;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  font-size: 12px;
  background: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  transition: .3s;
}

.dropdown:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.dropdown:hover .dropdown_arrow {
  color: rgba(31, 32, 65, 0.5);
}

.dropdown_value {
  display: inline-block;
  padding-left: 5px;
}

.dropdown_arrow {
  transition: all 0.2s ease;
  position: absolute;
  right: 5px;
  top: 0px;
  color: rgba(31, 32, 65, 0.25);
  font-size: 15px;
}

.dropdown_panel {
  position: absolute;
  background: transparent;
  width: calc(100% + 11px);
  z-index: 9999;
  height: 203px;
  left: 0px;
  top: 26px;
  overflow: hidden;
  pointer-events: none;

}

.dropdown_items {
  position: absolute;
  pointer-events: all;
  z-index: 9999;
  top: 0px;
  width: calc(100% - 11px);
  max-height: 170px;
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translate(0px, -200px);
  transition: 0.3s all ease-out;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #aaa;
}

.dropdown_item {
  padding: 5px;
}

.dropdown_item:nth-child(4) {
  color: #717171;
  
}

.dropdown_item:hover {
  background-color: rgb(226, 226, 226);
}

.dropdown ::-webkit-scrollbar {
  width: 2px;
}

.dropdown ::-webkit-scrollbar-thumb {
  background-color: #999;
}

@media (max-width: 680px) {
  .layout {
    height: 87vh;
  }
  .slider-wrap {
    display: none;
  }
  .form-wrap {
    width: 100vw;
  }
  .copyright {
    font-size: 12px;
  }
}


h3{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 40px;
  text-align: right;
  text-indent: inherit;
}

@media (max-width: 1343px) {
  h3{
    font-size: 28px;
  }
}
@media (max-width: 930px) {
  h3{
    font-size: 20px;
  }
  .f-signin .login-message{
  position: absolute;
  top: 185px;
  left: 0px;
  white-space: nowrap;
  line-height: 5px;
  color: #ed4a30
}
  .f-signin .password-message {
    top: 155px;
    left: 0px;
  }

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* стили только для IE10+ */
  .slider-wrap * {
    display: none;
  }
  
  .myform .button-original {
    border-radius: 0;
  }
  .form-wrap{
    /* background: url(../img/slider_air.jpg); */
    background: linear-gradient( rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.5) ), url('../img/slider_air.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .copyright {
    color: white;
  }
  
  .myform input:hover, .myform input:focus {
    transition: all 0.5s ease;
    border: 1px solid #c7c7d0;
  }
  
  .myform img{
    display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../img/S2B_Logo.png) no-repeat;
  border: none;
  } 
  
  .copyright .sign-in-offer a:hover {
    color: orange;
  }
  
}

